h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 0, 0);

    font-size: 6vw;

    margin-top: 4vh;

    font-weight: 400;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 7.5vh;
}

.contact-photo {
    width: 50vw;
    height: auto;

    margin-top: 7.5vh;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-family: "Source Sans Pro", sans-serif;
        color: rgb(0, 0, 0);

        font-size: 2.5vw;

        font-weight: 400;

        float: left;

        margin-top: 22vh;
        width: 50vw;
    }

    .contact-photo {
        height: 60vh;
        width: auto;

        float: right;

        margin-right: 10vw;
    }
}
