body {
	background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 768px) {
	#work-box {
		padding: 0;

		border-style: solid;
		border-width: 0.25vw;
		border-radius: 0.75vw;

		margin: 5vw;
		overflow: auto;
	}
	.image-one {
		padding: 1vw;
		width: 15vw;
		float: left;
	}
	#work-desc {
		float: right;
		width: 50vw;
		margin-right: 10vw;
	}
	.imgur-embed-pub {
		width: 30vw;
	}
	.work-text {
		line-height: 3vw;
		font-size: 2vw;
		text-align: center;
	}
}
