html {
	background-color: rgba(0, 0, 0, 1);
}
.unslider-arrow {
    font-size: 2.5vw;
}
#view-img {
    margin-top: 25vw;
    height: 30vh;
}
@media only screen and (min-width: 768px) {
    #view-img {
        margin-top: 1.5vw;
        height: 40vh;
    }
}
