h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 0, 0);

    font-size: 6vw;

    margin-top: 7.5vh;

    font-weight: 400;
}

#footer {
	background-color: #1f1f1f;

	position: absolute;
	width: 100vw;

    bottom: 0;
}

#creds {
	padding: 0.5vw;
	font-size: 5vw;
	margin: 0.5vw;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-family: "Source Sans Pro", sans-serif;
        color: rgb(0, 0, 0);

        font-size: 2.5vw;

        margin-top: 7.5vh;

        font-weight: 400;
    }

    #footer {
		width: 100vw;
		height: 10vh;
		bottom: 0;
		background-color: #1f1f1f;
		position: absolute;
	}

	#creds {
		padding: none;
		font-size: 1vw;
		margin-bottom: 0.35vh;
	}
}
