html {
    	background-color: #1f1f1f;
}
.panel-row {
    width: 100vw;
    height: 60vw;
}
.panel-row1 {
    width: 100vw;
    height: 60vw;
    display: none;
}

.panel-port {
    width: 50vw;
    height: 72.5vw;
    overflow: hidden;

    margin: none;
    padding: none;
    float: left;
}

@media only screen and (min-width: 768px) {
    .panel-row {
        width: 25vw;
        height: 17vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;
    }
    .panel-row1 {
        width: 25vw;
        height: 18.5vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;

        display: block;
    }
    .panel-port {
        width: 12.5vw;
        height: 18.5vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;
    }
}
