.panel-row {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .panel-row {
        width: 25vw;
        height: 17vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;
    }
    .panel-row1 {
        width: 25vw;
        height: 18.5vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;
    }
    .panel-port {
        width: 12.5vw;
        height: 18.5vw;
        overflow: hidden;

        margin: none;
        padding: none;
        float: left;
    }

}
