html {
	background-color: rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 768px) {
	.box-caro {
		width: 100vw;
	}
	.owl-carousel .owl-stage {
	  	display: flex;
	  	align-items: center;
	}
	.owl-prev {
		color: rgba(255, 255, 255);
		font-size: 10vw;
		display: block;
		position: absolute;
		bottom: 45%;
		left: 10%;
	}

	.owl-next {
		color: rgba(255, 255, 255);
		font-size: 10vw;
		display: block;
		position: absolute;
		bottom: 45%;
		right: 10%;
	}
	.verticala {
		width:50%; margin-left:auto;margin-right:auto
	}
}

@media only screen and (min-width: 768px) {
	.owl-carousel .owl-stage {
	  	display: flex;
	  	align-items: center;
	}

	.owl-prev {
		color: #fffd3c;
		font-size: 5vw;
		display: block;
		position: absolute;
		top: 50%;
		left: 10%;
	}

	.owl-next {
		text-align: center;
		vertical-align: middle;
		color: #fffd3c;
		font-size: 5vw;
		display: block;
		position: absolute;
		top: 50%;
		right: 10%;
	}
	.verticala {
		width:50%;
		margin-left:auto;
		margin-right:auto
	}
}
