@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,400,500,600|Raleway:200,300,400,500,600|Dosis:400,500,600");

/* Reset Code */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* For mobile phones: */
html {
    text-align: center;
}

body {
    font-family: "Source Sans Pro", sans-serif;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3);
}

header {
    background-color: #1f1f1f;
	width: 100vw;
	height: 28vw;
	position: fixed;

	z-index: 1000
}

header h1 {
    font-weight: 600;
    font-size: 13vw;
    padding-top: 2vw;
    padding-bottom: 2.5vw;
}

header h1:hover {
	color: #fffe95;
}

header h1[onclick] {
	cursor: pointer;
}

header button[onclick] {
	cursor: pointer;
}

header button {
	font-weight: 600;
    font-size: 5vw;
	color: #ebebeb;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 0.25vw;

	background-color: rgba(0, 0, 0, 0);

	border: none;

	padding: 0.5vw;

	font-family: "Raleway", sans-serif;

	outline: none;
}

header button:hover {
    color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.3);
}

#content-banner {
	width: 100vw;
	height: 28vw;
	background-color: rgba(0, 0, 0, 0);
}

.transition-all {
    transition: all 0.25s ease;
}
.current-button {
    color: #fffe95;
	background-color: rgba(0, 0, 0, 0.7);
}
.current-main {
	color: #fffe95;
}

#footer {
	width: 100vw;
	height: 10vh;
	bottom: 0;
	background-color: #1f1f1f;
	position: absolute;
}

#creds {
	padding: none;
	font-size: 1vw;
	margin-bottom: 0.35vh;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
	html {
		height: 100vh;
		overflow: hidden;
	}
    header {
        background-color: #1f1f1f;
        height: 18vh;

		z-index: 1000
    }

    header h1 {
        font-weight: 600;
        font-size: 6.0vw;
        padding-top: 0.5vw;
		margin: 0;
        padding-bottom: 0;
    }

    header button {
    	font-weight: 600;
        font-size: 2vw;
    	color: rgba(255, 255, 255, 0.8);
    	margin-left: 0.3vw;
    	margin-right: 0.3vw;

    	background-color: rgba(0, 0, 0, 0);

    	border: none;

    	padding: 0.5vw;
		padding-bottom: 0;
		padding-top: 0;

    	font-family: "Raleway", sans-serif;

    	outline: none;
    }

    header button:hover {
        color: rgba(255, 255, 255, 1);
    	background-color: rgba(0, 0, 0, 0.3);
    }

	#content-banner {
		width: 100vw;
		height: 18vh;
		background-color: rgba(0, 0, 0, 0);
	}

	#footer {
		width: 100vw;
		height: 10vh;
		bottom: 0;
		background-color: #1f1f1f;
		position: absolute;
	}

	#creds {
		padding: none;
		font-size: 1vw;
		margin-bottom: 0.35vh;
	}
}
