html {
	background-color: rgba(0, 0, 0, 0.88);
}

#footer {
	background-color: #1f1f1f;
	width: 100vw;
}

#creds {
	padding: 0.5vw;
	font-size: 5vw;
	margin: 0.5vw;
}

#album-cover {
    float: left;
    width: 100vw;
    text-align: center;
    height: 50vw;
    background-repeat: none;
    text-align: center;
}
#album-cover[onclick] {
	cursor: pointer;
}
#overlay {
    background: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
}
#overlay:hover {
    background: rgba(0, 0, 0, 0.3);
}
#album-title {
    color: #ffffff;
    position: relative;
    top: 40%;
    font-weight: 600;
    font-size: 7.5vw;
}

@media only screen and (min-width: 768px) {
    #footer {
		width: 100vw;
		height: 10vh;
		bottom: 0;
		background-color: #1f1f1f;
		position: absolute;
	}

	#creds {
		padding: none;
		font-size: 1vw;
		margin-bottom: 0.35vh;
	}

    #album-cover {
        width: 25vw;
        text-align: center;
        height: 70vh;
        text-align: center;
    }
	.action {
	    background: url("https://i.imgur.com/jqcisbBh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.travel {
	    background-image: url("https://i.imgur.com/cK4kyz8h.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.fashion {
	    background-image: url("https://i.imgur.com/YMR3AUCh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.activism {
	    background-image: url("https://i.imgur.com/i7BjljGh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
    #overlay {
        background: rgba(0, 0, 0, 0.5);
        width: inherit;
        height: inherit;
    }
    #overlay:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    #album-title {
        color: #ffffff;
        top: 45%;
        font-weight: 600;
        font-size: 3.75vw;
    }

    #footer {
		width: 100vw;
		height: 10vh;
		background-color: #1f1f1f;
	}

	#creds {
		padding: none;
		font-size: 1vw;
		margin-bottom: 0.35vh;
	}
}
