html {
	background-color: rgba(0, 0, 0, 0.88);
}

#album-cover {
    float: left;
    width: 100vw;
    text-align: center;
    height: 50vw;
    background-repeat: none;
    text-align: center;
}
#album-cover[onclick] {
	cursor: pointer;
}
#overlay {
    background: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
}
#overlay:hover {
    background: rgba(0, 0, 0, 0.3);
}
#album-title {
    color: #ffffff;
    position: relative;
    top: 40%;
    font-weight: 600;
    font-size: 7.5vw;
}
@media only screen and (max-width: 767px) {
	.action {
		background: url("https://i.imgur.com/yWmR8vO.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 -7vh;
	}
	.travel {
		background-image: url("https://i.imgur.com/ryokPPL.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 -7vh;
	}
	.fashion {
		background-image: url("https://i.imgur.com/2Tc0DT1h.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.activism {
		background-image: url("https://i.imgur.com/NL1yqqTh.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media only screen and (min-width: 768px) {

    #album-cover {
        width: 25vw;
        text-align: center;
        height: 70vh;
        text-align: center;
    }
	.action {
	    background: url("https://i.imgur.com/jqcisbBh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.travel {
	    background-image: url("https://i.imgur.com/cK4kyz8h.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.fashion {
	    background-image: url("https://i.imgur.com/YMR3AUCh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.activism {
	    background-image: url("https://i.imgur.com/i7BjljGh.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
    #overlay {
        background: rgba(0, 0, 0, 0.5);
        width: inherit;
        height: inherit;
    }
    #overlay:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    #album-title {
        color: #ffffff;
        top: 45%;
        font-weight: 600;
        font-size: 3.75vw;
    }
}
